.nav-link-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  color: #4e2d1d; }

.nav-link {
  margin: 2rem auto 2rem auto;
  text-decoration: none;
  padding: 2rem;
  border: 0.2rem solid #4e2d1d;
  color: #4e2d1d;
  border-radius: 5rem;
  cursor: pointer;
  width: 20rem; }

.nav-link:hover {
  background-color: rgba(78, 45, 29, 0.1); }

.nav-link-hidden {
  display: none; }
