.nav-link-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  color: #453d30;
  height: 100%; }

.nav-link {
  margin: 2rem auto 2rem auto;
  text-decoration: none;
  padding: 2rem;
  border: 0.2rem solid #4e2d1d;
  color: #453d30;
  border-radius: 5rem;
  cursor: pointer;
  width: 20rem;
  background: #eacda3; }

.nav-link:hover {
  background-color: #c3fcf2; }

.nav-link-hidden {
  display: none; }
