.login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25rem;
  margin: auto;
}

.login-input {
  text-decoration: none;
  font-size: 32px;
  margin: 2rem 0 2rem 0;
  border-radius: 3rem;
  padding-left: 1rem;
  border: 0.1rem solid rgb(78, 45, 29);
  color: #4e2d1d;
  height: 4rem;
  background-color: seashell;
}

.login-submit-button {
  margin: 2rem auto 2rem auto;
  text-decoration: none;
  border: 0.2rem solid rgb(78, 45, 29);
  color: #4e2d1d;
  border-radius: 5rem;
  cursor: pointer;
  width: 25rem;
  height: 4rem;
  font-size: 32px;
  background-color: seashell;
}

.login-submit-button:hover {
  background-color: rgba(215, 184, 141, 1);
}
