.app {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(
    to top,
    #eacda3,
    #c7c293,
    #a3b78b,
    #80aa88,
    #5f9c89
  );
}

.app-header {
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 32px;
}
